html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title{
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 6px;
}

#board-container{
    background-color: black;
    border: 4px solid black;
    height: clamp(100px, 40vw, 500px);
    width: clamp(100px, 40vw, 500px);
}

#board{
    height: inherit;
    width: inherit;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 6px;
}

.cell{
    background-color: white;
    font-size: 4rem;
    font-weight: 200;
    display: flex;
    justify-content: center;
}

.cell:hover{
    background-color: rgb(226, 226, 226);
}

.cell:active{
    background-color: rgb(196, 196, 196);
}

#comms{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: clamp(100px, 40vw, 500px);
    gap: 8px;
    margin-top: 8px;
}

#new-game{
    background-color: rgb(226, 226, 226);
    padding: 2px;
    border: 2px solid black;
}

#new-game:active{
    background-color: rgb(196, 196, 196);
}

#info{
    position: relative;
}